@model IEnumerable<AccountManagement.Models.Appointment>

@{
    ViewData["Title"] = "View Appointments";
}

<h2>Appointments</h2>

<li>
    <a href="@Url.Action("Create", "Appointments")" class="elements">
        <span>Book Appointments</span>
    </a>
</li>

<table class="table">
    <thead>
        <tr>
            <th>Healthcare Professional</th>
            <th>Appointment Date and Time</th>
            <th>Patient Name</th>
            <th>Contact Information</th>
            <th>Reason for Appointment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.HealthcareProfessionalName</td>
                <td>@appointment.AppointmentDateTime</td>
                <td>@appointment.PatientName</td>
                <td>@appointment.PatientContact</td>
                <td>@appointment.ReasonForAppointment</td>
            </tr>
        }
    </tbody>
</table>
