@model IEnumerable<AccountManagement.DataAccess.EntityModels.Employee>
@{
    ViewData["Title"] = "Admin Dashboard - Employee Management";
    ViewData["Role"] = "Admin";

}

@{
    Layout = "_Layout";
}

<div class="dashboard-table">
    <h1>Employee Management System</h1>
    <a href="@Url.Action("CreateOrUpdate", "Employee", new { id = 0, isAdmin = true })" class="btn btn-primary">Add New Employee</a>

    @if (!Model.Any())
    {
            <div class="no-records text-center p-3">No records available</div>
    }
    else
    {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Job Title</th>
                        <th>Salary</th>
                        <th>Remote Work Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var employee in Model)
                {
                            <tr>
                                <td>@employee.EmployeeId</td>
                                <td>@employee.Name</td>
                                <td>@employee.Department</td>
                                <td>@employee.JobTitle</td>
                                <td>@employee.Salary</td>
                                <td>@employee.RemoteWorkStatus</td>
                                <td>
                                    <a href="@Url.Action("CreateOrUpdate", "Employee", new { id = employee.EmployeeId , isAdmin = true})" class="btn btn-warning btn-sm">Edit</a>
                                </td>
                            </tr>
                }
                </tbody>
            </table>
    }
</div>
